

body {
   
    background-image: url("./images/zoobackground.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Choco Bubble', sans-serif;
    
    
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    font-family: 'Choco Bubble', sans-serif;
                                                                                        
 text-align: center;

 
 padding: 10px;
 
 

}

h2{
    text-align: center;
    padding: 20px;
}

#create-visitor-form{
    display: flex;
    flex-direction: column;
    gap:20px;

}
#exists-visitor-form{
    display: flex;
    flex-direction: column;
    gap:20px;

}
#startForms_container{
    display: flex;
    justify-content: center;
    font-family: 'Choco Bubble', sans-serif;
    gap: 200px;;
       
}

.Fcontain {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}


#animal-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

}

#related-animals{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

}

#visitorsHolder{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

}

.card-img{
    width: 150px;
    height: 150px;
}

.cardP{
    width: 200px;
    height: 250px;
    text-align: center;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 20%;
    font-family: 'Choco Bubble', sans-serif;
    
    
    
}

.none-visitors{
    text-align: center;
    margin:100px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 20%;
    color: beige;

}
.loginNav{
    font-size: 50px;
    font-family: 'Choco Bubble', sans-serif;
    color: aliceblue;
    background: rgba(3, 168, 41, 0.9);
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    
                                              
}
#visitorSearchInput
{
  height: 40px;  
  font-size: 30px;
  width: 500px;
}

.filter-container{
  width: 200px;
  
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#zooPage-organization{
    display: flex;
    gap: 50px;
}

.animalSearch-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    background-color: rgba(0, 128, 0, 0.9);
    padding: 20px;
    color: aliceblue;
    
    font-family: 'Choco Bubble', sans-serif;
    font-size: 20px;
    position: sticky;
    height:100vh;
    border-radius: 10%;
    

}

.form-control{
    width: 180px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Choco Bubble', sans-serif;
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }


  #MainAnimal{
    color: antiquewhite;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Choco Bubble', sans-serif;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 70%;
    width: 500px;
    margin: 20px;
    padding: 50px;
    gap: 10px;
  }
  
  #main-animal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
  }
  .animal-habitat-container {
    font-family: 'Choco Bubble', sans-serif;
    text-align: center;
  }
  .animal-habitat-container h3 {
    background: white;
  }
  





